*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
a{
    color: #333;
    text-decoration: none;
}
li{
    list-style-type: none;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    overflow: hidden;
}
#lt, #gt{
    z-index: 2;
    display: none;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 30px;
}
#gt{
    right: 0;
}
li{
    float: left;
}
ul{
    position: relative;
    top: 0;
    left: 0;
    width: 600%;  
}
.slideshow{
    float: left;
}
img{
    width: 400px;
    height: 300px;
}
.circle{
    position: absolute;
    width: 200px;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    /* left: 20px; */
    /* background-color: pink; */
}
.circle li{
    display: block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
#org_color{
    background-color: orange;
}
